@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: "Poppins", sans-serif;
    /* border: 1px solid red; */
    scroll-behavior: smooth;
  }

  body{
    overflow-x: hidden;
  }